@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(450deg);
    transform: rotate(450deg);
  }
}

@keyframes rotate {
  from {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(450deg);
    transform: rotate(450deg);
  }
}

@-webkit-keyframes line {
  0% {
    stroke-dasharray: 2, 85.964;
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  50% {
    stroke-dasharray: 65.973, 21.9911;
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dasharray: 2, 85.964;
    stroke-dashoffset: -65.973;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: 'Helvetica', 'Verdana', sans-serif;
  font-weight: 400;
  font-display: optional;
  color: rgb(218, 218, 218);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hidden {
  display: none;
}

html {
  overflow: hidden;
}

body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  background: #181111;
}

.header {
  width: 100%;
  height: 56px;
  color: #fff;
  background: #da200f;
  position: fixed;
  font-size: 20px;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 2px 9px 1px rgba(0, 0, 0, 0.12),
    0 4px 2px -2px rgba(0, 0, 0, 0.2);
  padding: 16px 16px 0 16px;
  will-change: transform;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-transition: -webkit-transform 0.233s cubic-bezier(0, 0, 0.21, 1) 0.1s;
  transition: -webkit-transform 0.233s cubic-bezier(0, 0, 0.21, 1) 0.1s;
  transition: transform 0.233s cubic-bezier(0, 0, 0.21, 1) 0.1s;
  transition: transform 0.233s cubic-bezier(0, 0, 0.21, 1) 0.1s,
    -webkit-transform 0.233s cubic-bezier(0, 0, 0.21, 1) 0.1s;
  z-index: 1000;
}
.header .headerButton {
  width: 24px;
  height: 24px;
  margin-right: 16px;
  text-indent: -30000px;
  overflow: hidden;
  opacity: 0.54;
  -webkit-transition: opacity 0.333s cubic-bezier(0, 0, 0.21, 1);
  transition: opacity 0.333s cubic-bezier(0, 0, 0.21, 1);
  border: none;
  outline: none;
  cursor: pointer;
}
.header #backButton {
  background: none;
  color: white;
  height: unset;
  padding: 3px 10px;
  font-weight: 900;
  margin-top: -20px;
  text-indent: 0;
  width: 40px;
  font-size: 40px;
}
.header #butRefresh {
  background: url(/io-movie-app/images/ic_refresh_white_24px.svg) center center no-repeat;
}

.header__title {
  font-weight: 400;
  font-size: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.hero {
  text-align: center;
  padding: 50px 20px 10px;
}
.hero .app-title {
  font-size: 35px;
  padding: 0px 0px 10px;
}

.hero .app-subtitle {
  font-size: 15px;
  font-style: italic;
}

.loader {
  left: 50%;
  top: 50%;
  position: fixed;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.loader #spinner {
  box-sizing: border-box;
  stroke: #cccccc;
  stroke-width: 3px;
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-animation: line 1.6s cubic-bezier(0.4, 0, 0.2, 1) infinite, rotate 1.6s linear infinite;
  animation: line 1.6s cubic-bezier(0.4, 0, 0.2, 1) infinite, rotate 1.6s linear infinite;
}

.main {
  padding-top: 60px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.movies-list {
  display: flex;
  flex-wrap: wrap;
  min-height: 200px;
  justify-content: space-around;
}

.movie {
  position: relative;
  box-sizing: border-box;
  max-width: 400px;
  background: #181111;
  border-radius: 8px;
  margin: 16px;
  /* animation-name: pop; */
  animation-duration: 300ms;
  animation-timing-function: ease-in;
  overflow: hidden;
  transition: 400ms all;
  box-shadow: 0 2px 2px 0 rgba(255, 255, 255, 0.14), 0 3px 1px -2px rgba(255, 255, 255, 0.2),
    0 1px 5px 0 rgba(255, 255, 255, 0.12);
}

a {
  color: white;
  text-decoration: none;
}

.movie img {
  width: 100%;
  display: block;
}

.movie .movie-container {
  padding: 12px;
}

.movie .movie-container .movie-title {
  font-size: 18px;
  padding: 4px 0px;
  font-weight: 300;
}

.movie .movie-container .movie-rating {
  font-size: 13px;
  font-weight: 200;
}
.movie .movie-container .movie-rating span {
  color: red;
  font-size: 20px;
}

.footer {
  padding: 16px;
  text-align: center;
}

.mdl-button {
  background: transparent;
  border: none;
  border-radius: 2px;
  color: black;
  position: relative;
  height: 36px;
  margin: 0;
  min-width: 64px;
  padding: 0 16px;
  display: inline-block;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: 0;
  overflow: hidden;
  will-change: box-shadow;
  -webkit-transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1),
    background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1), color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1),
    background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1), color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  line-height: 36px;
  vertical-align: middle;
}
.mdl-button::-moz-focus-inner {
  border: 0;
}
.mdl-button:hover {
  background-color: rgba(158, 158, 158, 0.2);
}
.mdl-button:focus:not(:active) {
  background-color: rgba(0, 0, 0, 0.12);
}
.mdl-button:active {
  background-color: rgba(158, 158, 158, 0.4);
}
.mdl-button.mdl-button--colored {
  color: #da200f;
}
.mdl-button.mdl-button--colored:focus:not(:active) {
  background-color: rgba(0, 0, 0, 0.12);
}

.mdl-button--primary.mdl-button--primary {
  color: #da200f;
}
.mdl-button--primary.mdl-button--primary .mdl-ripple {
  background: white;
}
.mdl-button--primary.mdl-button--primary.mdl-button--raised,
.mdl-button--primary.mdl-button--primary.mdl-button--fab {
  color: white;
  background-color: #da200f;
}

/**********************************\
|*********** MOVIE PAGE ************|
\***********************************/

#movie-page .header {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  box-shadow: unset;
}
.a-movie {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  overflow-y: scroll;
}

.a-movie .movie-image {
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}

.a-movie .movie-details {
  flex: 1;
  padding: 10px;
}

.a-movie .movie-details .movie-title {
  text-align: center;
  font-weight: 200;
  font-size: 20px;
  min-height: 20px;
  padding: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.a-movie .movie-details .movie-subtitle {
  text-align: center;
  font-style: italic;
  font-weight: 13px;
}

.a-movie .movie-details .movie-rating {
  font-size: 25px;
  padding: 10px 0px;
}
.a-movie .movie-details .movie-genres {
  padding: 10px 3px;
}
.a-movie .movie-details .movie-genres div {
  border-radius: 20px;
  display: inline-block;
  margin: 2px 4px;
  background: #444;
  padding: 5px 10px;
}

.a-movie .movie-details .movie-release-date {
  padding: 10px 0px;
}

.a-movie .movie-details .movie-overview div:nth-last-of-type(1) {
  padding: 15px 0px;
}

@media only screen and (min-width: 768px) {
  .a-movie .movie-image {
    width: 50%;
    max-width: 500px;
  }
  .a-movie .movie-details {
    margin-top: 30px;
  }
  .a-movie .movie-title {
    margin-top: 0px;
  }
}
